<div class="app d-flex flex-column align-items-center">
  
  <h1 class="my-5"> {{ title }} </h1>
  
  <div class="d-flex flex-wrap mx-4 justify-content-around">
    <button 
      class="p-2 mx-2 mb-2 btn btn-dark" 
      type="button" 
      (click)="setItem(time.continent,time.city)" 
      *ngFor="let time of timeZones"
    >
      <p> {{ time.city }} </p>
      <p> {{ time.continent }} </p>
    </button>
  </div>
  
  <app-time-zones [city]="city" [continent]="continent"></app-time-zones> 

</div>